@media only screen and (max-width: 380px) {
  .navcontainer {
    font-size: smaller;
  }
}

.navcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
}

.navcontainer > li {
  flex: 1;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: #ffffff;
  align-self: center;
  z-index: 1;
  font-size: 100%;
}

.stickytop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.842);
}

a > img {
  height: 2em;
  width: auto;
  z-index: 1;
}

.centered-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.centered-flex-container > * {
  flex: 1;
  margin-left: 5%;
}

footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 2fr;

  justify-items: center;
  width: 100%;
  background-color: #212121;
  text-align: center;
}

footer > ul {
  justify-self: flex-end;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

audio {
  width: 90%;
  height: 4vh;
}
