.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media only screen and (max-width: 1000px) {
  .material-icons {
    font-size: 2em;
  }
  .btn-flat {
    font-size: 2em;
  }
}
