@media only screen and (max-width: 1024px) {
  a > img {
    width: 10vh;
    height: auto;
  }
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  z-index: 1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: auto;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

/* Style the hamburger menu */
.topnav button {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0px;
  color: whitesmoke;
  font-size: 10%;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: white;
  height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
